*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

body {
  position: relative;
}

@import 'react-alice-carousel/lib/alice-carousel.css';
